@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&family=Fuzzy+Bubbles:wght@700&family=Lato&family=Road+Rage&display=swap');
/*

TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;



*/



*{
    margin:0;
    padding:0;
    box-sizing:border-box;

  }
  .header{
    background-position: right;
    background-image: url(../images/inicio/fondoVideo8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
  }

.header__nombre{
    letter-spacing: 15px;
    font-size: 4rem;
    font-family: 'Road Rage', cursive;
  
}
.header__lema{
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-family: 'Fuzzy Bubbles', cursive;

  }
  
.separador{
    opacity:100;
    margin: 0px;
    height: 8px !important;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
    0% {
      background:rgba(255,193,7,1) ;
    }
    100% {
      background:rgba(0,0,0,1) ;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: rgba(0,0,0,1);
    }
    100% {
      background: rgba(255,193,7,1);
    }
  }
  

.header__redesItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main__bienvenidos{
    font-family: 'Fuzzy Bubbles', cursive;

}
.main__carousel{
    height: 83vh;

}
.main__carousel__img{
    object-fit: cover;
    height: 80vh;

}

.main__boxImg{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}  
.main__boxImg__img{
    width: 80%; 
    grid-row: 1;
  
  }
  .main__imgNombre {
    grid-row: 2;
  }
  .main__imgPrecio{
    color: #ffc107;
  
  }
  