@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&family=Fuzzy+Bubbles:wght@700&family=Lato&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-position: right;
  background-image: url(../images/inicio/fondoVideo8.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  color: #ffc107;
  background-origin: content-box;
}

.header__nombre {
  letter-spacing: 1vh;
  font-size: 4rem;
  font-family: 'Road Rage', cursive;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 900;
}

.header__lema {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: 'Fuzzy Bubbles', cursive;
}

.header__nav {
  background-color: #ffc107;
}

@media screen and (max-width: 425px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.header__redesItem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .header__redesItem {
    grid-gap: 1rem;
    justify-items: center;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logoRS {
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .logoRS {
    width: 50%;
  }
}

.separador {
  opacity: 100;
  margin: 0px;
  height: 8px !important;
  background: black;
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(50%, #ffc107), to(black));
  background: linear-gradient(270deg, black 0%, #ffc107 50%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #ffc107;
  }
  100% {
    background: black;
  }
}

@keyframes color-change-2x {
  0% {
    background: black;
  }
  100% {
    background: #ffc107;
  }
}

.boton {
  background-color: #ffc107;
  color: black;
  font-weight: 700;
  border: inset white;
  border-radius: 0.25rem;
}

.boton:hover {
  background-color: black;
  color: #ffc107;
}

/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background-color: black;
  /*ESTILOS PAGINA DUDAS*/
}

.main__boxCarousel {
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  display: -ms-grid;
  display: grid;
}

.main__bienvenidos {
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(#f63735, #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 425px) {
  .main__bienvenidos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 2rem;
  }
}

.main__carousel {
  height: 83vh;
}

.main__carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
}

@media screen and (max-width: 425px) {
  .main__carousel__img .main__carousel__img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 60vh;
  }
}

.main__carousel--imgPromos {
  height: 89vh;
  -o-object-fit: contain;
     object-fit: contain;
  width: 70vh;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .main__carousel--imgPromos {
    height: 52vh;
    width: 37vh;
  }
}

.main__boxImg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
}

@media screen and (max-width: 425px) {
  .main__boxImg {
    display: block;
    text-align: center;
  }
}

.main__boxImg--img {
  width: 80%;
  -ms-grid-row: 1;
  grid-row: 1;
  border: 4px solid white;
}

.main__boxImg--stickers {
  gap: 1rem;
  padding: 4rem;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .main__boxImg--stickers {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem;
  }
}

.main__boxImg--carta {
  width: 90%;
}

@media screen and (max-width: 425px) {
  .main__boxImg--carta {
    margin: auto;
    margin-bottom: 1rem;
    height: 20rem;
  }
}

.main__imgNombre {
  -ms-grid-row: 2;
  grid-row: 2;
  color: #ffc107;
}

.main__imgPrecio {
  color: #ffc107;
}

.main__nosotros {
  padding: 5vh;
}

@media screen and (max-width: 425px) {
  .main__nosotros {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main__videoParrafo {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "parrafo video";
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
}

@media screen and (max-width: 425px) {
  .main__videoParrafo {
    display: block;
  }
}

.main__contenedorParrafo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: parrafo;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main__video {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: video;
  display: block;
  margin: auto;
  width: 80%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.main__dudas {
  color: #ffc107;
  font-weight: 500;
  display: -ms-grid;
  display: grid;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.main__dudas--titulo {
  padding: 3rem;
  font-size: 4rem;
}

.main__dudas--boxPreg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  padding: 2rem;
}

/*PRODUCTOS TIENDA*/
.main__boxImg--sticker-1 {
  background-image: url("../images/stickers/sticker-1.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-2 {
  background-image: url("../images/stickers/sticker-2.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-3 {
  background-image: url("../images/stickers/sticker-3.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-4 {
  background-image: url("../images/stickers/sticker-4.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-5 {
  background-image: url("../images/stickers/sticker-5.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-6 {
  background-image: url("../images/stickers/sticker-6.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-7 {
  background-image: url("../images/stickers/sticker-7.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

.main__boxImg--sticker-8 {
  background-image: url("../images/stickers/sticker-8.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  background-color: black;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .footer {
    display: block;
    margin: auto;
  }
}

.footer__contacto {
  color: #ffc107;
  text-align: center;
  padding-top: 5vh;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.50rem;
  font-weight: 700;
  margin-right: 2rem;
  margin-left: 2rem;
}

.footer__form--gracias {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
  color: #ffc107;
}

.footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .footer__contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
  }
}

.footer__redes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6rem)[3];
      grid-template-columns: repeat(3, 6rem);
}

@media screen and (max-width: 425px) {
  .footer__redes {
    display: inline;
  }
}

.footer__redesItems {
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__boxLogo {
  text-align: right;
}

@media screen and (max-width: 425px) {
  .footer__boxLogo {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */