@charset "UTF-8";
/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&family=Fuzzy+Bubbles:wght@700&family=Lato&family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto', sans-serif;
*/
.header__encabezado {
  padding: 1rem;
  background-position: right;
  background-image: url(../images/inicio/fondoVideo8.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  color: #fdfdfd;
  background-origin: content-box;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header__encabezado {
    background-position: right bottom;
  }
}
.header__lema {
  letter-spacing: 2px;
  font-size: 1rem;
  font-family: "Road Rage", cursive;
}
.header__nav, .footer__nav, .footer__nav--subMenu, .header__nav--submenu {
  height: 3rem;
  background-color: #fdfdfd;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}
.header__nav:hover, .footer__nav:hover, .footer__nav--subMenu:hover, .header__nav--submenu:hover {
  color: #7f7e7c;
}
@media screen and (max-width: 768px) {
  .header__nav, .footer__nav, .footer__nav--subMenu, .header__nav--submenu {
    flex-direction: column-reverse;
  }
}
.header__nav--submenu {
  height: auto;
  padding: 11px;
  margin: 0px;
}
.header__redesItem {
  display: inline-flex;
  padding: 0.25rem;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .header__redesItem {
    grid-gap: 1rem;
    justify-items: center;
    align-self: end;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto', sans-serif;
*/
.logoRS {
  border-radius: 50%;
  height: 7rem;
}
@media screen and (max-width: 425px) {
  .logoRS {
    width: 60%;
  }
}

.separador {
  opacity: 100;
  margin: 0px;
  height: 2px !important;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 97, 156) 50%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.color-change-2x {
  animation: color-change-2x 2s linear infinite alternate both;
}
@keyframes color-change-2x {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: #fdfdfd;
  }
}
.boton {
  background-color: #fdfdfd;
  color: black;
  font-weight: 700;
  border: inset white;
  border-radius: 0.25rem;
}
.boton--sticker {
  color: #fdfdfd;
  background-color: #484847;
  border-color: #7f7e7c;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.boton--sticker:hover {
  color: #212529;
  background-color: #fdfdfd;
  border-color: #fdfdfd;
}
.boton--sticker:focus {
  z-index: 3;
  border-color: #817c7c;
  outline: 0;
  box-shadow: none;
}
.boton:hover {
  background-color: black;
  color: #fdfdfd;
}
.boton:not(.collapsed) {
  color: #fdfdfd;
  background-color: #484847;
}

.btn {
  padding: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto', sans-serif;
*/
.main {
  background-color: black;
  /*ESTILOS PAGINA PROMOS*/
  /*ESTILOS PAGINA DUDAS*/
}
.main__boxCarousel {
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  display: grid;
}
.main__carousel {
  height: 50vh;
}
@media screen and (max-width: 425px) {
  .main__carousel {
    height: 25vh;
  }
}
.main__carousel__img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50vh;
}
@media screen and (max-width: 425px) {
  .main__carousel__img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 25vh;
  }
}
.main__boxImg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
}
@media screen and (max-width: 425px) {
  .main__boxImg {
    display: block;
    text-align: center;
  }
}
.main__boxImg--img {
  width: 80%;
  grid-row: 1;
  border: 4px solid white;
}
.main__boxImg--stickers {
  gap: 1rem;
  padding: 4rem;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .main__boxImg--stickers {
    display: block;
    flex-wrap: wrap;
    padding: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .main__boxImg--stickers {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main__boxImg--carta {
  width: 95%;
}
@media screen and (max-width: 425px) {
  .main__boxImg--carta {
    margin: auto;
    margin-bottom: 1rem;
    height: 20rem;
  }
}
.main__imgNombre {
  grid-row: 2;
  color: #fdfdfd;
}
.main__imgPrecio {
  color: #fdfdfd;
}
.main__nosotros {
  padding: 5vh;
}
@media screen and (max-width: 425px) {
  .main__nosotros {
    flex-wrap: wrap;
    display: flex;
  }
}
.main__videoParrafo {
  display: grid;
  grid-template-areas: "video parrafo";
  grid-template-columns: 2fr;
}
@media screen and (max-width: 768px) {
  .main__videoParrafo {
    display: block;
  }
}
.main__contenedorParrafo {
  grid-area: parrafo;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  text-align: justify;
}
.main__video {
  grid-area: video;
  display: block;
  margin: auto;
  width: 80%;
  grid-row: 1;
  grid-column: 2;
}
@media screen and (max-width: 425px) {
  .main__video {
    width: 100%;
  }
}
.main__promos {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  text-align: -webkit-center;
}
@media screen and (max-width: 425px) {
  .main__promos {
    display: block;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
.main__promos--img {
  padding: 1rem;
}
@media screen and (max-width: 425px) {
  .main__promos--img {
    border-top: groove white;
  }
}
.main__promos--img:hover {
  width: 30rem;
}
@media screen and (max-width: 425px) {
  .main__promos--img:hover {
    width: 18rem;
  }
}
.main__dudas {
  color: #fdfdfd;
  background-color: black;
  font-weight: 500;
  display: grid;
  text-align: start;
  gap: 1rem;
  padding: 0rem;
}
@media screen and (max-width: 425px) {
  .main__dudas {
    display: inline;
  }
}
.main__dudas--titulo {
  padding: 3rem;
  font-size: 4rem;
}
@media screen and (max-width: 425px) {
  .main__dudas--titulo {
    font-size: 3rem;
  }
}
.main__dudas--acordeon {
  background-color: black;
  padding: 2rem;
}
@media screen and (max-width: 425px) {
  .main__dudas--acordeon {
    display: block;
  }
}

/*PRODUCTOS TIENDA*/
.main__boxImg--sticker-1 {
  background-image: url("../images/stickers/sticker-1.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-2 {
  background-image: url("../images/stickers/sticker-2.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-3 {
  background-image: url("../images/stickers/sticker-3.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-4 {
  background-image: url("../images/stickers/sticker-4.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-5 {
  background-image: url("../images/stickers/sticker-5.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-6 {
  background-image: url("../images/stickers/sticker-6.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-7 {
  background-image: url("../images/stickers/sticker-7.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-8 {
  background-image: url("../images/stickers/sticker-8.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-9 {
  background-image: url("../images/stickers/sticker-9.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-10 {
  background-image: url("../images/stickers/sticker-10.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-11 {
  background-image: url("../images/stickers/sticker-11.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-12 {
  background-image: url("../images/stickers/sticker-12.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-13 {
  background-image: url("../images/stickers/sticker-13.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-14 {
  background-image: url("../images/stickers/sticker-14.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-15 {
  background-image: url("../images/stickers/sticker-15.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-16 {
  background-image: url("../images/stickers/sticker-16.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-17 {
  background-image: url("../images/stickers/sticker-17.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-18 {
  background-image: url("../images/stickers/sticker-18.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-19 {
  background-image: url("../images/stickers/sticker-19.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__boxImg--sticker-20 {
  background-image: url("../images/stickers/sticker-20.jpg");
  margin: 1rem;
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .modalSticker {
    height: 60vh;
  }
}

.kenburns-top {
  animation: kenburns-top 5s ease-out both;
}

/*ESTILOS PAGINA EN CONSTRUCCIÓN*/
.pagConstruccion {
  margin: 15rem;
}
@media screen and (max-width: 425px) {
  .pagConstruccion {
    margin: 2rem 1rem;
    text-align: center;
    justify-content: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TEXTO
font-family: 'Cairo', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Road Rage', cursive;
font-family: 'Roboto', sans-serif;
*/
.footer {
  background-color: black;
  margin: auto;
}
@media screen and (max-width: 425px) {
  .footer {
    display: block;
    margin: auto;
  }
}
.footer__contacto {
  color: #fdfdfd;
  text-align: center;
  padding-top: 5vh;
}
.footer__form {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 700;
  margin-right: 2rem;
  margin-left: 2rem;
}
.footer__form--gracias {
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
  color: #fdfdfd;
}
.footer__contenedor {
  display: flex;
  padding: 2.5rem;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .footer__contenedor {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
}
.footer__redes {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
}
@media screen and (max-width: 425px) {
  .footer__redes {
    display: inline;
  }
}
.footer__redesItems {
  justify-self: center;
}
.footer__redesItems img {
  width: 2rem;
  height: 2rem;
}
.footer__nav, .footer__nav--subMenu {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
@media screen and (max-width: 1024px) {
  .footer__nav, .footer__nav--subMenu {
    flex-direction: column;
  }
}
.footer__nav--subMenu {
  padding: 11px;
  margin: 0px;
}
.footer__boxLogo {
  text-align: right;
}
@media screen and (max-width: 425px) {
  .footer__boxLogo {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */