@import "./reset";
@import "./vars";
@import "./media-queries";

.logoRS{
    border-radius: 50%;
    @include movil{
      width: 50%;
  }
}
.separador{
    opacity:100;
    margin: 0px;
    height: 6px !important;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,193,7,1) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
    0% {
      background:map-get($style,color-principal) ;
    }
    100% {
      background:rgba(0,0,0,1) ;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: rgba(0,0,0,1);
    }
    100% {
      background: map-get($style,color-principal);
    }
  }
  .boton{
    background-color:map-get($style,color-principal);
    color: map-get($style,color-fondo);
    font-weight: 700;
    border: inset white;
    border-radius: 0.25rem;

    &--sticker{
        color: map-get($style,color-principal);
        background-color: #484847;
        border-color: #7f7e7c;
        font-family: map-get($style ,fuente-menu );
        font-weight: 600;
        &:hover{
            color: #212529;
            background-color:map-get($style,color-principal);
            border-color:map-get($style,color-principal);
        }
        &:focus{
          z-index: 3;
          border-color: #f9bb00b5;
          outline: 0;
          box-shadow: 0 0 0 0.25rem #f6f4ec59;
        }
        

    
    }
    &:hover{
      background-color: map-get($style,color-fondo);
      color: map-get($style,color-principal);
    }
    &:focus{
      @extend .boton--sticker:focus;
    }
    &:not(.collapsed){
      color: map-get($style,color-principal );
      background-color: #484847;
    }
  }
  .btn{
    padding: 0.25rem;
  }

