@import "./reset";
@import "./vars";
@import "./breakpoints"

footer{
    background-color: $color-fondo;
    margin: auto;
    

    &__contacto{
        color: $color-principal;
        text-align: center
    }














    
}








