@import "./reset";
@import "./vars";
@import "./media-queries";

.footer{
    background-color:map-get($style,color-fondo);
    margin:auto;
    @include movil{
        display: block;
        margin: auto;
    }
    &__contacto{
        color:map-get($style,color-principal);
        text-align: center;
        padding-top: 5vh;

    }
    &__form{
        display: flex;
        justify-content: center;
        border-radius: 0.50rem;
        font-weight: 700;
        margin-right: 2rem;
        margin-left: 2rem;
        &--gracias{
            margin-bottom: 3rem;
            margin-top: 1rem;
            text-align: center;
            color: map-get($style,color-principal);
        }
    }
    &__contenedor{
        display: flex;
        padding: 2.5rem;
        align-items: center;
        justify-content: space-between;
        @include movil{
            flex-wrap: wrap;
            justify-content: center;
            gap: 5rem;
        }
    }
    &__redes{
        display: grid;
        grid-template-columns: repeat(3,6rem);    
       @include movil{
           display: inline;
       }
    }
    &__redesItems{
        justify-self: center;
    }
    &__nav{
        @extend .header__nav;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        @include portatil{
            flex-direction: column;
        }

        &--subMenu{
            @extend .footer__nav;
            padding: 11px;
            margin: 0px;
        }

    }
    &__boxLogo{
        text-align: right;
        @include movil{
            text-align: center;
        }
    
    }
}








