.header{
    background-position: right;
    background-image: url(../images/inicio/fondoVideo8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;

    &__nombre{
        letter-spacing: 15px;
        font-size: 4rem;
        font-family: 'Road Rage', cursive;
    }
    &__lema{
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-family: 'Fuzzy Bubbles', cursive;
    }
    &__redesItem {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    







  }
