@import "./reset";
@import "./vars";
@import "./breakpoints";

.main{
    background-color: map-get($style,color-fondo);
    &__bienvenidos{
        font-family: 'Fuzzy Bubbles', cursive;
        font-size: xx-large;
    }
    
    &__carousel{
        height: 83vh;

        &__img{
            object-fit: cover;
            height: 80vh;
        }
        &--imgPromos{
            height: 89vh;
            object-fit: contain;
            width: 70vh;
            margin: auto;

        }
    }

    &__boxImg{    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &--img{
            width: 80%; 
            grid-row: 1;
            border: 4px solid white;
        }
        &--stickers{
            gap: 1rem;
            padding: 4rem;
        }
        &--carta{
            width: 90%;
           
        }
        
    }
    &__imgNombre {
        grid-row: 2;
        color: map-get($style,color-principal);
    }
    &__imgPrecio{
        color: map-get($style,color-principal);
    }
    &__nosotros {
        padding: 5vh;
    }
    &__videoParrafo{
        display: grid;
        grid-template-areas: "parrafo video";
        grid-template-columns: 2fr;
    }

    &__contenedorParrafo{
        grid-area: parrafo;
        grid-row: 1;
        grid-column: 1;
    }
    &__video{
        grid-area: video;
        display:block;
        margin: auto;
        width: 80%;
        grid-row: 1;
        grid-column: 2;
    
    }
    /*ESTILOS PAGINA DUDAS*/
    &__dudas{
        color: map-get($style,color-principal);
        font-weight: 500;
        display: grid;
        text-align: center;
        gap: 1rem;
        padding: 1rem;   
    
        &--titulo {
            padding: map-get($style,padding);
            
        }
        &--boxpreg {
            padding-left: 20rem;
            padding-right: 20rem;
        }
        &--preg{
            padding: map-get($style,padding);
        }

    }
}