
$style:(
    color-principal:#ffc107,
    color-fondo: black,
    padding: 2rem,
    color-claro: white,
);
$mapStickers:(
    sticker-1,
    sticker-2,
    sticker-3, 
    sticker-4,
    sticker-5,
    sticker-6,
    sticker-7, 
    sticker-8,
)
